html, body, h1, h2, h3, h4, h5, ul {
  margin: 0;
}

@font-face {
  font-family: "dinBold";
  src: url(./font/DINPro-Bold.otf);
}
@font-face {
  font-family: "dinMedium";
  src: url(./font/DINPro-Medium.otf);
}
@font-face {
  font-family: "dinLight";
  src: url(./font/DINPro-Light.otf);
}
.flex {
  display: flex;
}

.center {
  align-items: center;
}

.vertical-align-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.m-5 {
  margin: 5px;
  font-family: "dinMedium";
}

.p-10 {
  padding: 10px;
}

.header {
  font-size: 50px;
  text-transform: uppercase;
}

.subheader {
  font-size: 40px;
  text-transform: uppercase;
}

.copy {
  font-size: 16px;
}

.button--outline, .button--fill {
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 45px;
}

.button--fill {
  background-color: #f15b4c;
  color: white;
  outline: none;
  border: none;
}

.button--outline {
  color: #f15b4c;
  background-color: transparent;
  outline: none;
  border: 1px solid #f15b4c;
}

.block {
  padding: 5%;
  text-align: center;
}
.block .copy {
  max-width: 53%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.seperator--red {
  border-color: #f15b4c;
  width: 15px;
}

body {
  font-family: "dinLight";
}

.hide {
  opacity: 0;
}

@media (max-width: 1000px) {
  .desktop-only {
    display: none;
  }
}

@media (max-width: 1000px) {
  .flex-mobile-column {
    flex-direction: column;
    margin: 0 auto;
  }
}

.overlay_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fbfafb;
}

.banner {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}
.banner * {
  margin: 5px;
}
.banner a {
  color: white;
  font-family: dinBold;
}

.main-nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.main-nav a.active {
  color: #f15b4c;
}
.main-nav a:hover {
  color: #f15b4c;
  transition: 0.3s ease-in;
}
.main-nav .cart-logo {
  width: 15px;
}
.main-nav .cart {
  color: red;
}

.nav_expanded {
  padding: 15px;
  font-size: 17px;
  position: fixed;
  width: 100%;
  background: white;
}
.nav_expanded li {
  margin-top: 15px;
}
.nav_expanded h2 {
  text-transform: uppercase;
  font-size: 17px;
}

.hero {
  padding: 10%;
  background-image: url(./img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .header {
  max-width: 650px;
}
.hero .copy {
  font-size: 24px;
}

.steps {
  max-width: 95%;
  margin: 0 auto;
}
.steps p {
  margin: 0;
  text-align: left;
}
@media (max-width: 1000px) {
  .steps {
    max-width: 300px;
    margin: 0 auto;
  }
  .steps .step_container {
    margin: 0 auto;
  }
}

.step_container {
  position: relative;
  height: 200px;
  width: 260px;
}

.step_number {
  font-size: 200px;
  color: #f15b4c;
  font-family: "dinBold";
  line-height: 205px;
  margin: 0;
  position: absolute;
  z-index: 0;
  right: 0;
}

.step_copy-container {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.step_copy-container.with-copy {
  margin-top: 18px;
}

.step_copy {
  font-size: 20px;
  font-family: "dinMedium";
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-bottom: 2px;
  padding-right: 45px;
}

.step_sub-copy {
  max-width: 50%;
}

.slider {
  background-image: url(./img/juice.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20%;
}

.nav_list {
  list-style: none;
  padding: 0;
}
.nav_list a {
  color: black;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
