// RESET

html, body, h1, h2, h3, h4, h5, ul {
    margin: 0;
}


// FONTS

@font-face {
    font-family: "dinBold";
    src: url(./font/DINPro-Bold.otf);
}

@font-face {
    font-family: "dinMedium";
    src: url(./font/DINPro-Medium.otf);
}

@font-face {
    font-family: "dinLight";
    src: url(./font/DINPro-Light.otf);
}


// FLEX HELPERS
.flex {
    display: flex;
}

.center {
    align-items: center;
}

.vertical-align-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

// SPACERS
.m-5 {
    margin: 5px;
    font-family: "dinMedium";
}


// HEADERS
.header {
    font-size: 50px;
    text-transform: uppercase;
}

.subheader {
    font-size: 40px;
    text-transform: uppercase;
}

.copy {
    font-size: 16px;
}

// BUTTONS

%button {
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 45px;

}

.button--fill {
    @extend %button;
    background-color: $red;
    color: white;
    outline: none;
    border: none;
}

.button--outline {
    @extend %button;
    color: $red;
    background-color: transparent;
    outline: none;
    border: 1px solid $red;
}


// BLOCKS
.block {
    padding: 5%;
    text-align: center;
    .copy {
        max-width: 53%;
        margin: 0 auto;
        margin-top: 15px;
    }
}


// GLOBAL
body {
    font-family: "dinLight";
}

// DESKTOP / MOBILE

.desktop-only {
    @media (max-width: $desktop) {
        display: none;
    }
}

.flex-mobile-column {
    @media (max-width: $tablet) {
        flex-direction: column;
        margin: 0 auto;
    }
}