// RESET

body, h1, h2, h3, h4, h5, ul {
    margin: 0;
}


// FONTS

@font-face {
    font-family: "dinBold";
    src: url(./font/DINPro-Bold.otf);
}

@font-face {
    font-family: "dinMedium";
    src: url(./font/DINPro-Medium.otf);
}

@font-face {
    font-family: "dinLight";
    src: url(./font/DINPro-Light.otf);
}


// FLEX HELPERS
.flex {
    display: flex;
}

.center {
    align-items: center;
}

.vertical-align-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

// SPACERS
.m-5 {
    margin: 5px;
}



// GLOBAL
body {
    font-family: "dinLight";
}